
<div class="container">
  <h1>Stupid Coaching</h1>

  <div class="answer">
    <p><%= @question %></p>
    <p><em>--You</em></p>
  </div>

  <div class="answer yellow-background">
    <p><%= @answer %></p>
    <p><em>--Your coach</em></p>
  </div>

  <%= link_to "ask a new question", ask_path %>



</div>


