<div class="container">
  <h1>Stupic Coaching</h1>

  <div class="ask">
    <p>ask your coach anything:</p>

    <form action="/answer" class="form-inline">
      <div class="form-group">
        <input class="form-control"type="text" name="question">
        <input type="submit" class= "btn btn-danger" value="Ask!">
      </div>
    </form>

  </div>

</div>
